@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    font-family: roboto;
    font-size: 100px;
    color: black;
    
}


.flex{
    display: flex;
}

.buttons{
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    gap: 20px;
    font-size: 100px;
}

button{
    padding: 20px;
    font-size: 100px;
    background-color: white;
    border: solid 2px black;

    border-radius: 50px;
    transition: 0.1s ease-in-out;

}

button:hover{
    transform: scale(1.08);
    background-color: blueviolet;
    


}

.resetbutton button{
    margin: 0 auto;
    width: fit-content;
    font-size: 20px;
    border-radius: 20px;
}