@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: roboto;
    font-size: 50px;
    margin: 20px;

}

.costinput{
    margin-left: 30px;
    padding: 10px;
}

.calculatebutton{
    background-color: rgb(0, 255, 0);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.totalcost{
    margin: 30px;
    font-size: 50px;

    font-family: roboto;
}